<div class="jumbotron">
    <h1>CLAN BATTLES API</h1>
    <p class="lead">Bienvenido al API de Clan Battles. Ingresa a la opción API para ver los detalles del backend.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saber más &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Mantente Listo</h2>
        <p>ASP.NET Web API es un framework que facilita la creacion de servicios HTTP que buscan
        alcanzar una lista de clientes, entre ellos aplicaciones moviles. ASP.NET Web API
       es la plataforma ideal para crear aplicaciones RESTful en .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obten más librerias</h2>
        <p>NuGet es una extensión de Visual Studio que permite añadir, eliminar o actualizar bibliotecas y otros objetos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Desplegar web</h2>
        <p>Puedes hostear tu aplicación web de manera muy sencilla para poder interactuar con todos tus dispositivos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Saber más &raquo;</a></p>
    </div>
</div>
